.Homepage,
.Parameters {
  text-align: center;
  padding-top: 200px;
  background: url("../images/Homepage_background.png") center bottom no-repeat;
  background-size: cover;
  min-height: 700px;
}

.mainQuestion {
  padding-top: 30px;
  margin-bottom: 50px;
}

.button {
  margin: 20px;
}

.exitItem {
  padding-top: 50px;
  font-size: 25px;
}

.Homepage--images {
  display: flex;
  flex-direction: row;
}

.dataset--image {
  height: 200px;
  width: 200px;
  margin: 40px;
  margin-left: 150px;
}
